name: CI - Build & Push Image

on:
  push:
    branches: ["main"]

env:
  AWS_REGION: ap-south-1
  ECR_REPOSITORY: strapi

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - uses: aws-actions/amazon-ecr-login@v2
        id: login

      - name: Build & Push
        run: |
          IMAGE_SHA=${{ steps.login.outputs.registry }}/$ECR_REPOSITORY:${GITHUB_SHA}
          IMAGE_LATEST=${{ steps.login.outputs.registry }}/$ECR_REPOSITORY:latest

          docker build -t $IMAGE_SHA -t $IMAGE_LATEST ./strapi-app
          docker push $IMAGE_SHA
          docker push $IMAGE_LATEST
